/*=========================
project vars
=========================*/
$theme:#262c33;
$base:#ececec;
$primary:#7f549d;

$radius: 0.8rem;


/*=========================
base
=========================*/
@mixin base {
    @include ff;
    @include textFactory($f16,$white,"medium");
    @include containerFactory($base, 0, 26px 0 0 0);
}